*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  overflow: hidden;
}

#heading{
  text-align: center;
  height: 100vh;
  background-color: red;
  z-index: 7;
}
.slides img{            filter: brightness(30%); }
#heading div{
  margin: 0 auto;
}
#logo-bulb{
  position: fixed;
  top: 50px;
  right: 50px;
  height: 120px;
  transition: 1s;
  z-index: 1;
}
#logo-bulb:hover{
  top: 40px;
  right: 40px;
  height: 140px;
}
#logo-kgp{
  position: fixed;
  bottom: 50px;
  left: 50px;
  height: 70px;
  transition: 1s;
  z-index: 1;
}
#logo-kgp:hover{
  bottom: 40px;
  left: 40px;
  height: 90px;
}
#logo-barc{
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 60px;
  transition: 1s;
  z-index: 1;
}
#logo-barc:hover{
  bottom: 40px;
  right: 40px;
  height: 80px;
}
    #slide-out{
      width:100%;
      background-color: rgba(0,0,0,0.8);

    }
    #main-nav-trig{
      position: fixed;
      top:10px;
      left:10px;
    }
    #main-nav-close{
      position: fixed;
      top:10px;
      right:10px;
    }


.cover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.cover img{
  width: 100%;
  height: 100%;
}
.cover div{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,1);
}
:root {
  --white:#f1f1f1
}
.heading1, .heading2{
  width: 100%;
  font-size: 70px;
  color: #76ff03;
  font-weight: bold;
  font-family: sans-serif;
/*  color: #16a085;
*/  letter-spacing: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.heading2{color: yellow;}
div span {
  opacity: 1;
  animation: flicker 1s linear  1;
}
div span::after {
  content: '';
  width: 150%;
  box-shadow: -50px 0px 100px 20px white;
}
div span:hover {
color: yellow;font-size: 80px;}
@keyframes flicker{
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.2;
  }
  35% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.3;
  }
  45% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.7;
  }
  55% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}