{% extends 'yip/base.html' %}

{% block content %}
<style media="screen">
  body{
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    }
    form a:hover{
      text-decoration: underline;
    }
    input{
      opacity: 0.9;
    }
    input:hover, input:focus{
      opacity: 1;
    }
    input[type="reset"]{
      margin-left: 20px;
    }
    form a{color: white;}
    form .row{
      border:1px solid white;
      border-radius: 0.5rem;
    }
    h4{
      color: #f4f4f4;
    }

    option{
      font-size: 1.3em;
    }
    .hide{
      display: none;
    }
</style>
<!-- ==========Write all your code below this point============ -->

<div class="center-align container">
  <form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <h3 class="white-text">Young Innovators Program</h3>
    <h4 class="yellow-text"><b>Registration Page</b></h4><br><br>
    <div class="row">
      <h4>Team Details</h4><hr>
      <div class="input-field col s12 m6">
        <input placeholder="Team Name" required type="text" maxlength="250" class="white center-align teal-text text-accent-3" id="teamnamecap" name="teamnamecap">
        <input type="text" name="teamname" id="teamname" style="display: none;">
      </div>
      <div class="input-field col s12 m6">
        <input placeholder="School Name" type="text" maxlength="250" required class="white center-align teal-text text-accent-3" name="school">
      </div>
      <div class="input-field col s12 m6">
        <input placeholder="Password" type="password" maxlength="25" required class="white center-align teal-text text-accent-3" name="password1">
      </div>
      <div class="input-field col s12 m6">
        <input placeholder="Confirm Password" type="password" required class="white center-align teal-text text-accent-3" name="password2">
      </div>
      <div class="input-field col s12" >
        <select class="teal-text text-accent-3 browser-default" required name="ps">
          <option value="" disabled selected>Choose your Problem Statement</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
      <div class="input-field col s12" >
        <select class="teal-text text-accent-3 browser-default" name="publi">
          <option value="" disabled selected>How did you get to know about YIP 2020 ?</option>
          <option value="1">Through Social Media</option>
          <option value="2">Through your School</option>
          <option value="3">Through a friend/colleague</option>
        </select>
      </div>
    </div>
    <div class="row">
      <h4>Mentor Details</h4><hr>
      <div class="input-field col s12 m6">
        <input placeholder="Mentor's Name" type="text" maxlength="200" class="white center-align teal-text text-accent-3" required name="teachername">
      </div>
      <div class="input-field col s12 m6">
        <input placeholder="Mentor's Contact Number" type="tel" maxlength="12" class="white center-align teal-text text-accent-3" required name="teacherphone">
      </div>
      <div class="input-field col s12 m6">
        <input placeholder="Mentor's email id" type="email" class="white center-align teal-text text-accent-3" required name="teacheremail">
      </div>
    </div>
    <div class="row left-align" style="padding: 0 5%;">
      <div class="col s12">
        <h5 class="white-text">Number of students in the team</h5>
            <p>
      <label onclick="twostud()">
        <input name="group1" type="radio" value="2" />
        <span class="white-text" style="font-size: 2em;">2</span>
      </label>
    </p>
    <p>
      <label onclick="threestud()">
        <input name="group1" type="radio" value="3" />
        <span class="white-text" style="font-size: 2em;">3</span>
      </label>
    </p>
      </div>
    </div>
    <div class="row" id="s1">
      <h4>Student-1 Details</h4><hr>
      <div class="input-field col s12 m6">
        <input placeholder="Student's Name" required type="text" maxlength="200" class="white center-align teal-text text-accent-3" name="s1name">
      </div>
      <div class="input-field col s12 m6">
        <input placeholder="Student's email id" required type="email" class="white center-align teal-text text-accent-3" name="s1email">
      </div>
      <div class="input-field col s12 m4">
        <input placeholder="Student's Contact Number" required type="tel" maxlength="12" class="white center-align teal-text text-accent-3" name="s1phone">
      </div>
      <div class="input-field col s12 m4">
        <input placeholder="DOB" type="text" required class="white center-align datepicker teal-text text-accent-3" name="s1dob">
      </div>
      <div class="input-field col s6 m2">
        <input placeholder="Student's Class" required type="number" min="8" max="10" class="white center-align teal-text text-accent-3" name="s1class">
      </div>
    <div class="input-field col s6 m2">
      <select class="teal-text text-accent-3 browser-default" required name="s1gender">
          <option value="" disabled selected>Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="O">Other</option>
        </select>
    </div>
    </div>
    <div class="row" id="s2">
      <h4>Student-2 Details</h4><hr>
      <div class="input-field col s12 m6">
        <input placeholder="Student's Name" required type="text" maxlength="200" class="white center-align teal-text text-accent-3" name="s2name">
      </div>
      <div class="input-field col s12 m6">
        <input placeholder="Student's email id" required type="email" class="white center-align teal-text text-accent-3" name="s2email">
      </div>
      <div class="input-field col s12 m4">
        <input placeholder="Student's Contact Number" required type="tel" maxlength="12" class="white center-align teal-text text-accent-3" name="s2phone">
      </div>
      <div class="input-field col s12 m4">
        <input placeholder="DOB" type="text" required class="white center-align datepicker teal-text text-accent-3" name="s2dob">
      </div>
      <div class="input-field col s6 m2">
        <input placeholder="Student's Class" required type="number" min="8" max="10" class="white center-align teal-text text-accent-3" name="s2class">
      </div>
    <div class="input-field col s6 m2">
      <select class="teal-text text-accent-3 browser-default" required name="s2gender">
          <option value="" disabled selected>Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="O">Other</option>
        </select>
    </div>
    </div>
    <div class="row" id="s3" class="hide">
      <h4>Student-3 Details</h4><hr>
      <div class="input-field col s12 m6">
        <input placeholder="Student's Name" type="text" maxlength="200" class="white center-align teal-text text-accent-3" name="s3name">
      </div>
      <div class="input-field col s12 m6">
        <input placeholder="Student's email id" type="email" class="white center-align teal-text text-accent-3" name="s3email">
      </div>
      <div class="input-field col s12 m4">
        <input placeholder="Student's Contact Number" type="tel" maxlength="12" class="white center-align teal-text text-accent-3" name="s3phone">
      </div>
      <div class="input-field col s12 m4">
        <input placeholder="DOB" type="text" class="white center-align datepicker teal-text text-accent-3" name="s3dob">
      </div>
      <div class="input-field col s6 m2">
        <input placeholder="Student's Class" type="number" min="8" max="10" class="white center-align teal-text text-accent-3" name="s3class">
      </div>
    <div class="input-field col s6 m2">
      <select class="teal-text text-accent-3 browser-default" name="s3gender">
          <option value="" disabled selected>Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="O">Other</option>
        </select>
    </div>
    </div>
      <p class="red-text">{% if error %}{{ error }}{% endif %}</p>
    <input type="submit" name="submit" value="REGISTER" class="btn btn-primary">
    <input type="reset" name="reset" value="RESET" class="btn btn-primary red">

      <p class="white-text">Already have an account? <a href="{% url 'login' %}">Login Here</a> </p>
  </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


<script type="text/javascript">
  const titleInput = document.querySelector('input[name=teamnamecap]');
  const slugInput = document.querySelector('input[name=teamname]');

const slugify = (val) =>{
  
  return val.toString().toLowerCase().trim()
  //replace & with '-and-'
  .replace(/&/g,'-and-')
  //replace space,non word characters and dashes with '-'
  .replace(/[\s\W-]+/g,'-')
};
titleInput.addEventListener('keyup',(e)=>{
  slugInput.setAttribute('value',slugify(titleInput.value));
});
    var currYear=2020;
    $(document).ready(function(){
    $('.datepicker').datepicker({
    defaultDate: new Date(currYear-18,1,31),
    // setDefaultDate: new Date(2000,01,31),
    maxDate: new Date(currYear-5,12,31),
    yearRange: [2000, currYear-5],
    format: "yyyy-mm-dd"    
  });
  });


    $("#teamnamecap").focusout(function (e) {
        e.preventDefault();
        // get the nickname
        var teamname = $("#teamname").val();
        // GET AJAX request
        $.ajax({
            type: 'GET',
            url: "{% url 'teamname_check' %}",
            data: {"teamname": teamname},
            success: function (response) {
                // if not valid user, alert the user
                if(!response["valid"]){
                    alert("This Team Name is already taken. Your Team Name should be unique. Try picking up some other Team Name.");
                    location.reload();
                }
            },
            error: function (response) {
                console.log(response)
            }
        })
    })



    function twostud() {
  var s3 = document.getElementById("s3");
  s3.classList.add("hide");
}
    function threestud() {
  var s3 = document.getElementById("s3");
  s3.classList.remove("hide");
}
</script>

<!-- ==========Write all your code above this point============ -->
{% endblock %}
