{% load staticfiles%}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>YIP</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
  <div class="content">
  <div class="content__container">
    <p class="content__container__text">
      Hello
    </p>
    
    <ul class="content__container__list">
      <li class="content__container__list__item">world !</li>
      <li class="content__container__list__item">innovators !</li>
      <li class="content__container__list__item">students !</li>
      <li class="content__container__list__item">everybody !</li>
    </ul>
  </div>
</div>

<div class="view">
  <div class="plane main">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</div>
<div class="frame">
  <img src="{% static 'logo.png' %}" class="responsive-img">
</div>
<script src="{% static 'script.js' %}"></script>
</body>
</html>