{% extends 'yip/base.html' %}

{% block content %}

<!-- This is the homepage of the website.
Try to write all the code as neat and descriptive as possible with proper indentations as others will also have to work on the same code, so the code must be human-readable and not just machine readable.
Don't try to edit/change any other file in the repo, except the once alloted to you. Otherwise you get errors using GITHUB -->
<!-- ==========Write all your code below this point============ -->
<div class="container">
<h4>Roles for the first stage of project</h4>
<ul class = "collapsible popout" data-collapsible = "accordion">
   <li>
      <div class = "collapsible-header">
         <i class = "material-icons">whatshot</i>mahil</div>
      <div class = "collapsible-body"><p>why_yip,prev_yip, winners</p></div>
   </li>

   <li>
      <div class = "collapsible-header">
         <i class = "material-icons">whatshot</i>keerthi</div>
      <div class = "collapsible-body"><p>about,media,contacts.</p></div>
   </li>
   <li>
      <div class = "collapsible-header">
         <i class = "material-icons">whatshot</i>Bhargavi</div>
      <div class = "collapsible-body"><p>Design and content management</p></div>
   </li>
   <li>
      <div class = "collapsible-header">
         <i class = "material-icons">whatshot</i>srijanak</div>
      <div class = "collapsible-body"><p>themes,msg_from_org,testimonials,gallery.</p></div>
   </li>
   <li>
      <div class = "collapsible-header">
         <i class = "material-icons">whatshot</i>Shivoy</div>
      <div class = "collapsible-body"><p>homepage, all forms, nav-bar and other common stuff.</p></div>
   </li>
</ul>
<img src="{{'static/logo.png'}}" alt="done" height="150" width="100">
</div>

<!-- ==========Write all your code above this point============ -->
{% endblock %}
