{% extends 'yip/base.html' %}

{% block content %}
{% load staticfiles%}
<!-- This is the "Message From Organisers" section of the website. It contains things before "YIP 2018 section".
Try to write all the code as neat and descriptive as possible with proper indentations as others will also have to work on the same code, so the code must be human-readable and not just machine readable.
Don't try to edit/change any other file in the repo, except the once alloted to you. Otherwise you get errors using GITHUB -->
<!-- ==========Write all your code below this point============ -->


<style>
  .caption{
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
  }
      #slide-out{
      width:100%;
      background-color: rgba(0,0,0,0.8);

    }
    #main-nav-trig{
      position: fixed;
      top:10px;
      left:10px;
      z-index: 6;
    }
    #main-nav-close{
      position: fixed;
      top:10px;
      right:10px;
    }
    #logox{
      z-index: 6;
    }
    p{
    	font-size: 1.2em;
    }
</style>
  <div class="slider fullscreen">
    <ul id="slide-out" class="sidenav white-text valign-wrapper">
      <div class="container">
        <div class="row white-text center-align">
          <div class="col s12 l6"><a class="white-text flow-text" href="{% url 'home' %}">Home</a></div>
          <div class="col s12 l6"><a class="white-text flow-text" href="{% url 'about' %}">About</a></div>
          <div class="col s12 l6"><a class="white-text flow-text" href="{% url 'why_yip' %}">Why YIP?</a></div>
          <div class="col s12 l6"><a class="white-text flow-text" href="{% url 'themes' %}">Themes</a></div>
          <div class="col s12 l6"><a class="white-text flow-text" href="{% url 'msg_from_org' %}">Message</a></div>
          <div class="col s12 l6"><a class="white-text flow-text" href="{% url 'winners' %}">Winners</a></div>
          <div class="col s12 l6"><a class="white-text flow-text" href="{% url 'gallery' %}">Gallery</a></div>
          <div class="col s12 l6"><a class="white-text flow-text" href="{% url 'media' %}">Outreach</a></div>
          <div class="col s12 l6"><a class="white-text flow-text" href="{% url 'testimonials' %}">Testimonials</a></div>
          <div class="col s12 l6"><a class="white-text flow-text" href="{% url 'contacts' %}">Contacts</a></div>
          <div class="col s12 l6"><a class="white-text flow-text" href="{% url 'prev_yip' %}">YIP 2019</a></div>
          <div class="col s12 l6"><a class="white-text flow-text" href="{% url 'prev_yip' %}">YIP 2018</a></div>
          <div class="col s12 l6"><a class="flow-text" href="{% url 'login' %}">Login</a></div>
          <div class="col s12 l6"><a class="flow-text" href="{% url 'signup' %}">Sign Up</a></div>
        </div>
      </div>
      <li><a href="#" class="sidenav-close" id="main-nav-close">hi<i class="small material-icons white-text">close</i></a></li>

    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large btn-floating pulse large" id="main-nav-trig"><i class="material-icons">menu</i></a>
    <a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" id="logox" class="responsive-img" id="logo-barc"></a>
    <ul class="slides">
      <li>
        <img src="{% static 'BB.JPG' %}"> <!-- random image -->
        <div class="caption center-align">
          <h4>Prof Baidurya Bhattacharya</h4>
          <h5 class="light grey-text text-lighten-3">Dean of IR, IIT KGP</h5>
          <p>"...It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience..."</p>
          <p>"...It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience..."</p>
        </div>
      </li>
      <li>
        <img src="{% static 'ppc.jpg' %}"> <!-- random image -->
        <div class="caption right-align">
          <h4>Prof Partha Pratim Chakrabarti </h4>
          <h5 class="light grey-text text-lighten-3">Former Director, IIT-KGP(2013-2019)</h5>
          <p>"...It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience..."</p>
          <p>"...It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience..."</p>
        </div>
      </li>
      <li>
        <img src="{% static 'homepic2.jpg' %}"> <!-- random image -->
        <div class="caption center-align">
          <h4>Valley School, Raipur</h4>
          <h5 class="light grey-text text-lighten-3">Neelam Dwivedi, Teacher</h5>
          <p>"...It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience..."</p>
          <p>"...It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience..."</p>
        </div>
      </li>
    </ul>
  </div>
<script>
    $(document).ready(function(){
    $('.slider').slider();
  });
    $(document).ready(function(){
      $('.sidenav').sidenav();
    });
</script>



<!-- ==========Write all your code above this point============ -->
{% endblock %}
