{% extends 'yip/base.html' %}

{% block content %}

<!-- This is the old "YIP 2018" section of the website. It contains things before "Winners".
Try to write all the code as neat and descriptive as possible with proper indentations as others will also have to work on the same code, so the code must be human-readable and not just machine readable.
Don't try to edit/change any other file in the repo, except the once alloted to you. Otherwise you get errors using GITHUB -->
<!-- ==========Write all your code below this point============ -->



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<title>Previous YIP</title>
<style>
.pre{
  background-color: white;
  width:100%;
  height:100%;
}
.xyz{
    position:absolute;
    top:20%;
    left:50%;
    height :500px;
    width:550px;

}
.carousel{
height:700px;
perspective: 500px;
position: relative;
left:0%;
top:0%;

}
.carousel .carousel-item{
width:370px;
}
.material-icons{
  font-size:100px;
  position: absolute;

}
#hi{
position: absolute;
   top:21%;
   left:7%;

}
.sc{
   color:black;
   font-size: 35px;
   position: absolute;
   top:25%;
   left:15%;

}.ab{
  position: absolute;
  top:80%;
  left:6.6%;
  color:yellow;
}
.par{
  color:black;
   font-size: 35px;
   position: absolute;
   top:83%;
   left:15%;
} /* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}.xs{
float:right;
font-size:40px;

}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
.img{
float:right;
width:500px;
height:500px;
position: absolute;
top:30%;
left:50%;

}.dott{
position:absolute;
top:26%;
left:65%;
}
#al{
position: absolute;
top: 40%;
left:7%;
color:yellow;

}
.par1{
position: absolute;
top: 43%;
left:15%;
color:black;
font-size: 35px;

}
#al1{
position: absolute;
top: 60%;
left:7%;
color:yellow;

}
.par2{
position: absolute;
top: 62%;
left:15%;
color:black;
font-size: 35px;
}
@media screen and (max-width: 600px){
#al{
position: absolute;
top: 40%;
left:7%;
color:yellow;

}
.par1{
position: absolute;
top: 45%;
left:23%;
color:white;
font-size: 15px;

}
#al1{
position: absolute;
top: 60%;
left:7%;
color:yellow;

}
.par2{
position: absolute;
top: 65%;
left:24%;
color:white;
font-size: 20px;
}
#hi{
position: absolute;
   top:21%;
   left:7%;
   size:20px;

}
.sc{
   color:white;
   font-size: 20px;
   position: absolute;
   top:27%;
   left:23%;

}.ab{
  position: absolute;
  top:80%;
  left:7%;
  color:yellow;
}
.par{
  color:white;
   font-size: 20px;
   position: absolute;
   top:85%;
   left:20%;
}

}
</style>
  <nav>
    <div class="nav-wrapper teal lighten-1">
      <a href="#" class="lg"></a>
      <ul id="nav-mobile" class="xs">
        <li><a href="/static/YIP'19_Coffee%20Table%20Book.pdf">YIP-2019</a></li>
        <li><a href="/static/YIP'18_Coffee%20Table%20Book.pdf">YIP-2018</a></li>
        <li style="padding-right:80px"><a href="/static/YIP'17_Coffee%20Table%20Book.pdf">YIP-2017</a></li>

        </ul>
      </div>
    </nav>

    <i id="hi"class="material-icons teal-text text-lighten-1 responsive">account_balance</i>
    <div class="sc">1200+ Schools</div>
    <div class="ab"><i class="material-icons teal-text text-lighten-1 responsive">person</i></div>
    <div class="par">2400+ Participants</div>
    <i id = "al"class="large material-icons teal-text text-lighten-1 responsive">alarm</i>
    <div class="par1">3000+ Hours of Innovation</div>
    <i id = "al1"class="large material-icons teal-text text-lighten-1 responsive">group</i>
    <div class="par2"> 32 Finalists</div>




<div class="xyz">
<div class="slider">
    <ul class="slides">
      <li>
        <img src="/static/78062404_2705224266233128_3367091348875247616_n.jpg" style="width:100%">


      </li>
      <li>
        <img src="/static/p2.jpeg" style="width:100%">

      </li>
      <li>
        <img src="/static/p3.jpeg" style="width:100%">



      </li>
      <li>
        <img src="/static/p4.jpeg" style="width:100%">

      </li>
    </ul>
</div>
</div>







<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>


document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.slider').slider();
  });
  var instance = M.Slider.getInstance(elem);
  instance.start();
  instance.pause();
  instance.next();
  instance.prev();
</script>





<!-- ==========Write all your code above this point============ -->
{% endblock %}
