{% extends 'yip/base.html' %}

{% block content %}
{% load staticfiles%}
<!-- This is the "Testimonials" section of the website.
Try to write all the code as neat and descriptive as possible with proper indentations as others will also have to work on the same code, so the code must be human-readable and not just machine readable.
Don't try to edit/change any other file in the repo, except the once alloted to you. Otherwise you get errors using GITHUB -->
<!-- ==========Write all your code below this point============ -->
<style>
  .caption{
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
  }
    p{
      font-size: 1.2em;
    }
</style>
  <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="{% static 'spic.jpg' %}"> <!-- random image -->
        <div class="caption center-align">
          <h3>Valley School, Raipur</h3>
          <h5 class="light grey-text text-lighten-3">Neelam Dwivedi, Teacher</h5>
          <p>"...It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience..."</p>
        </div>
      </li>
      <li>
        <img src="{% static 'homepic2.jpg' %}"> <!-- random image -->
        <div class="caption left-align">
          <h3>Valley School, Raipur</h3>
          <h5 class="light grey-text text-lighten-3">Neelam Dwivedi, Teacher</h5>
          <p>"...It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience..."</p>
        </div>
      </li>
      <li>
        <img src="{% static 'spic.jpg' %}"> <!-- random image -->
        <div class="caption right-align">
          <h3>Valley School, Raipur</h3>
          <h5 class="light grey-text text-lighten-3">Neelam Dwivedi, Teacher</h5>
          <p>"...It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience..."</p>
        </div>
      </li>
      <li>
        <img src="{% static 'homepic2.jpg' %}"> <!-- random image -->
        <div class="caption center-align">
          <h3>Valley School, Raipur</h3>
          <h5 class="light grey-text text-lighten-3">Neelam Dwivedi, Teacher</h5>
          <p>"...It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience. It came as apleasant surprise......the IIT professors were greta. Loved the experience..."</p>
        </div>
      </li>
    </ul>
  </div>
<script>
    $(document).ready(function(){
    $('.slider').slider();
  });
</script>
<!-- ==========Write all your code above this point============ -->
{% endblock %}
