{% extends 'yip/base.html' %}

{% block content %}

<!-- This is the "Theme" section of the website.
Try to write all the code as neat and descriptive as possible with proper indentations as others will also have to work on the same code, so the code must be human-readable and not just machine readable.
Don't try to edit/change any other file in the repo, except the once alloted to you. Otherwise you get errors using GITHUB -->
<!-- ==========Write all your code below this point============ -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<title>YIP Themes</title>
<style type="text/css">
  body {
font-family: Arial, Helvetica, sans-serif;
background-color: #f6f6f6;
text-align: center;
}
h3{
text-align: center;
color: #056674;
}
p{
font-size: 13px;
}
.schoolname{
font-weight: 800;
}

.flip-card1 {
background-color: transparent;
width: 300px;
height: 300px;
perspective: 1000px;
}

.flip-card-inner1 {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card1:hover .flip-card-inner1 {
transform: rotateY(180deg);
}

.flip-card-front1, .flip-card-back1 {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-card-front1 {
background-color: #bbb;
color: black;
}

.flip-card-back1 {
background-color: #133b5c;
color: white;
transform: rotateY(180deg);
}

.flip-card2 {
background-color: transparent;
width: 300px;
height: 300px;
perspective: 1000px;
}

.flip-card-inner2 {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card2:hover .flip-card-inner2 {
transform: rotateY(180deg);
}

.flip-card-front2, .flip-card-back2 {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-card-front2 {
background-color: #bbb;
color: black;
}

.flip-card-back2 {
background-color: #133b5c;
color: white;
transform: rotateY(180deg);
}

.flip-card3 {
background-color: transparent;
width: 300px;
height: 300px;
perspective: 1000px;
}

.flip-card-inner3 {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card3:hover .flip-card-inner3 {
transform: rotateY(180deg);
}

.flip-card-front3, .flip-card-back3 {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-card-front3 {
background-color: #bbb;
color: black;
}

.flip-card-back3 {
background-color: #133b5c;
color: white;
transform: rotateY(180deg);
}
.flip-card4 {
background-color: transparent;
width: 300px;
height: 300px;
perspective: 1000px;
}

.flip-card-inner4 {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card4:hover .flip-card-inner4 {
transform: rotateY(180deg);
}

.flip-card-front4, .flip-card-back4 {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-card-front4 {
background-color: #bbb;
color: black;
}

.flip-card-back4  {
background-color: #133b5c;
color: white;
transform: rotateY(180deg);
}


</style>


</head>
<body>
<div class="container">
  <h3>PREVIOUS YEAR'S WINNERS</h3><br><br><br><br>
  <div class="row">
    <div class="col s12 m6 push-l2 push-m2 l6">
      <div class="flip-card1">
  <div class="flip-card-inner1">
  <div class="flip-card-front1">
    <img src="/static/w1.jpg" alt="Avatar" style="width:300px;height:300px;">
  </div>
  <div class="flip-card-back1">
   <p class="hide-on-med-and-up">KIIT INTERNATIONAL SCHOOL, BHUBANESHWAR</p>
    <p>The team came up with a zero power consumption green device to dispense
  water by foot or bodyweight and operated by a lever mechanism. The dispenser
  works with a foot/bodyweight operated board which depresses when force is
  applied. An attached wire pulls the tap lever down, starting the water flow. On the
  release of the weight, the board springs back and the lever tap spring restores
  the original position, stopping the water flow. The user could use the water to
  take a shower, water plants or bathe a guide dog.</p>

  </div>
</div>
</div>
    </div>
    <div class="col s12 m6 l6 ">
      <div class="flip-card2">
  <div class="flip-card-inner2">
  <div class="flip-card-front2">
    <img src="/static/w2.jpg" alt="Avatar" style="width:300px;height:300px;">
  </div>
  <div class="flip-card-back2">
   <p class="hide-on-med-and-up"> BHARATIYA VIDYA BHAVANS PUBLIC SCHOOL, HYDERABAD</p>
    <p>The team made a much-needed attempt to reduce harmful emissions from
    vehicles entering the atmosphere through a cost-effective filter using coconut
    shells, corn cobs, and activated charcoal. All these materials are kept inside a
    steel canister along with a metal wire mesh. The canister is fitted at the end of the
    smoke pipe of the vehicle. Smoke enters the canister and its harmful contents
    are filtered once it passes through the powdered corn cob and activated
    charcoal, thus emitting less polluted air into the atmosphere.</p>
  </div>
</div>
</div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6 push-l2 push-m2">
      <div class="flip-card3">
  <div class="flip-card-inner3">
  <div class="flip-card-front3">
    <img src="/static/w1.jpg" alt="Avatar" style="width:300px;height:300px;">
  </div>
  <div class="flip-card-back3">
   <p class="hide-on-med-and-up">KIIT INTERNATIONAL SCHOOL, BHUBANESHWAR</p>
    <p>The team came up with a zero power consumption green device to dispense
  water by foot or bodyweight and operated by a lever mechanism. The dispenser
  works with a foot/bodyweight operated board which depresses when force is
  applied. An attached wire pulls the tap lever down, starting the water flow. On the
  release of the weight, the board springs back and the lever tap spring restores
  the original position, stopping the water flow. The user could use the water to
  take a shower, water plants or bathe a guide dog.</p>

  </div>
</div>
</div>
    </div>
    <div class="col s12 m6 l6">
      <div class="flip-card4">
  <div class="flip-card-inner4">
  <div class="flip-card-front4">
    <img src="/static/w2.jpg" alt="Avatar" style="width:300px;height:300px;">
  </div>
  <div class="flip-card-back4">
   <p class="hide-on-med-and-up"> BHARATIYA VIDYA BHAVANS PUBLIC SCHOOL, HYDERABAD</p>
    <p>The team made a much-needed attempt to reduce harmful emissions from
    vehicles entering the atmosphere through a cost-effective filter using coconut
    shells, corn cobs, and activated charcoal. All these materials are kept inside a
    steel canister along with a metal wire mesh. The canister is fitted at the end of the
    smoke pipe of the vehicle. Smoke enters the canister and its harmful contents
    are filtered once it passes through the powdered corn cob and activated
    charcoal, thus emitting less polluted air into the atmosphere.</p>
  </div>
</div>
</div>
    </div>
  </div>
</div>





 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>

</script>





<!-- ==========Write all your code above this point============ -->
{% endblock %}
