{% extends 'yip/base.html' %}

{% block content %}

<!-- This is the Winners section of the website. Contains last year winners.
Try to write all the code as neat and descriptive as possible with proper indentations as others will also have to work on the same code, so the code must be human-readable and not just machine readable.
Don't try to edit/change any other file in the repo, except the once alloted to you. Otherwise you get errors using GITHUB -->
<!-- ==========Write all your code below this point============ -->


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<title>YIP|Winners</title>
<link rel="stylesheet" href="/static/styleforwinners.css">


</head>
<body>
<br><br>
<h4 style="text-align:center">PREVIOUS YEAR'S WINNERS</h4>


<!-- partial:index.partial.html -->
<div class="cards">

<div class="card">
  <div class="card__image-holder">
    <img class="card__image" src="/static/w1.jpg" alt="wave" />
  </div>
  <div class="card-title">
    <a href="winnersabout.html" class="toggle-info btn">
      <span class="left"></span>
      <span class="right"></span>
    </a>
    <h2>
        Winners
        <small>KIIT International School, Bhubaneshwar</small>
    </h2>
  </div>
  <div class="card-flap flap1">
    <div class="card-description">
      The team came up with a zero power consumption green device to dispense water by foot or bodyweight and operated by a lever mechanism. The dispenser works with a foot/bodyweight operated board which depresses when force is applied. An attached wire pulls the tap lever down, starting the water flow. On the release of the weight, the board springs back and the lever tap spring restores the original position, stopping the water flow. The user could use the water to take a shower, water plants or bathe a guide dog.
    </div>
    <div class="card-flap flap2">

    </div>
  </div>
</div>

<div class="card">
  <div class="card__image-holder">
    <img class="card__image" src="/static/w2.jpg" alt="beach" />
  </div>
  <div class="card-title">
    <a href="#" class="toggle-info btn">
      <span class="left"></span>
      <span class="right"></span>
    </a>
    <h2>
        1st Runner Up
        <small>Bharatiya Vidya Bhavans Public School, Hyderabad</small>
    </h2>
  </div>
  <div class="card-flap flap1">
    <div class="card-description">
       The team made a much-needed attempt to reduce harmful emissions from vehicles entering the atmosphere through a cost-effective filter using coconut shells, corn cobs, and activated charcoal. All these materials are kept inside a steel canister along with a metal wire mesh. The canister is fitted at the end of the smoke pipe of the vehicle. Smoke enters the canister and its harmful contents are filtered once it passes through the powdered corn cob and activated charcoal, thus emitting less polluted air into the atmosphere.
    </div>
    <div class="card-flap flap2">
      <div class="card-actions">

      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card__image-holder">
    <img class="card__image" src="/static/w3.jpg" alt="mountain" />
  </div>
  <div class="card-title">
    <a href="winnersabout.html" class="toggle-info btn">
      <span class="left"></span>
      <span class="right"></span>
    </a>
    <h2>
        2nd Runner Up
        <small>Brahm Prakash D.A.V School, Hyderabad</small>
    </h2>
  </div>
  <div class="card-flap flap1">
    <div class="card-description">
      They have developed ASTRON, a telescope for exploring space galaxies to carry out scientific research. The team developed it by using 7 plane mirrors in a honeycomb structure to capture bright and high-quality image. Each mirror is hexagonal in shape. The central mirror is fixed and the six side mirrors can be adjusted. They proposed to superimpose all seven images of the object for brighter and clear quality images. The telescope uses the concept of the working of a concave mirror and superimposing of images. It is cost-effective and eco-friendly.
    </div>
    <div class="card-flap flap2">


    </div>
  </div>
</div>
</div>



<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script><!--<script  src="./script.js"></script>-->
<script type="text/javascript">
$(document).ready(function(){
var zindex = 10;

$("div.card").click(function(e){
  e.preventDefault();

  var isShowing = false;

  if ($(this).hasClass("show")) {
    isShowing = true
  }

  if ($("div.cards").hasClass("showing")) {
    // a card is already in view
    $("div.card.show")
      .removeClass("show");

    if (isShowing) {
      // this card was showing - reset the grid
      $("div.cards")
        .removeClass("showing");
    } else {
      // this card isn't showing - get in with it
      $(this)
        .css({zIndex: zindex})
        .addClass("show");

    }

    zindex++;

  } else {
    // no cards in view
    $("div.cards")
      .addClass("showing");
    $(this)
      .css({zIndex:zindex})
      .addClass("show");

    zindex++;
  }

});
});
</script>


<!-- ==========Write all your code above this point============ -->
{% endblock %}
